extends layout

block page_header
    .page-header
        .pull-right
            .page-header-toolbar
                .btn-group
                    button.btn.btn-primary.btn-sm(id='save', type='button', data-loading-text="<i class='fa fa-spinner fa-spin fa-lg'></i>&nbsp;&nbsp;Saving...&nbsp;")
                        span.glyphicon.glyphicon-save
                        | &nbsp;&nbsp;Save Changes&nbsp;
                    button.btn.btn-info.btn-sm.dropdown-toggle(type="button", data-toggle="dropdown")
                        | &nbsp;More&nbsp;&nbsp;
                        span.glyphicon.glyphicon-chevron-down
                    ul.dropdown-menu
                        li.active
                            a(href='#') Server Settings
                        li
                            a(hef='#') App Settings
        .page-header-title
            h2= title

block content
    .row
        if (typeof(message) !== 'undefined' && message != '')
            script(type='text/javascript').
              bootstrap_alert('success', '<strong>Success:</strong> #{message}', 3000, false);
        .col-sm-6
            .settings_edit
                form(id='settings-form', action='/settings', method='post')
                    label.h4 Server Settings
                    .input-group
                        span.input-group-addon Salt Server
                        input.form-control(name="host", enctype="application/json", type="text", placeholder="http://example.com:8000", value="#{host}")
                    br
                    .input-group
                        span.input-group-addon Username
                        input.form-control(name="user", type="text", placeholder="Username", value="#{user}")
                    br
                    .input-group
                        span.input-group-addon Password
                        input.form-control(name="pass", type="password",placeholder="Password", value="#{pass}")
                    br
                    hr
                    label.h4 Authentication Type
                    select.form-control.input-sm(name="auth_type", value="#{auth_type}")
                        Option
                            | PAM
                        Option
                            | LDAP

block script_includes
    script(src='/javascripts/settings.js')
